
<% if (title) { %>
  <h1><%= title %></h1>
  <%- messages() %>
  <% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  <div class="login">
    <form action="/inv/add/classification" method="post">
      <label for="classification_name">Classification Name:</label>
      <input type="text" id="classification_name" name="classification_name" value="<%= locals.classification_name %>" required>
  
      <button type="submit">Add Classification</button>
    </form>
  </div>
  <% } else {
    res.redirect('/')
} %>