/******* Change Box Model ***************/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  padding: 10px; 
  background-image: none;
}

h1 {
  font-size: 18px;
  margin-top: 5px; 
  margin-left: 0px;
  margin-bottom: 5px;
}

h2 {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: center;
  margin-top: 5px;
}

ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}

ul li {
  font-size: 16px; 
  margin-bottom: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

button {
  padding: 0px;
  width: auto;
  border-width: 0px;
}

img {
  width: 70%;
  display: block;
  margin: 0 auto;
}

#top-header .siteName a {
  font-size: 22px;
  font-weight: bold;
  color: black;
  text-decoration: none; 
}

#top-header .siteName img {
  width: 50px;
}

#top-header #tools a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

nav {
  background-color: black;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 12px;
  margin-right: 12px;
}

.nav-list li {
  display: inline; 
  margin-bottom: 0px;
}

.nav-list a {
  text-decoration: none;
  color: white;
  padding: 5px;
  font-size: 14px;
}

.nav-list a:hover {
  color: black; 
  background-color: white; 
  padding: 5px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px; 
  border: none;
  background-color: white;
}

.grid {
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: none;
  gap: 5px;
}

.grid-image {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.text-overlay {
  position: absolute;
  top: 28%; 
  left: 22%;
  transform: translate(-50%, -50%); 
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 0px;
  padding-top: 0px; 
  color: #079ACB;
  font-size: 15px; 
}

.text-overlay p {
  margin-bottom: 3px; 
  margin: 0;
}

.text-overlay h2 {
  margin-bottom: 1px;
  margin-top: 1px;
}

.button-container {
  margin-top: 10px; 
}

.button-container button {
  padding: 0;
  cursor: pointer;
}

.button-image {
  width: 80px; 
  height: 24px;
  cursor: pointer;
}

.grid-container {
  color: black;
}

.grid-down {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  width: 100%;
  align-items: center; 
}
.grid-item {
  align-items: center;
  justify-content: center;
  width: 100%;
}
.grid-left-image {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #079ACB;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.grid-left-image img{
  display: block;
  margin: 0 auto;
  height: 60px;
  width: auto;
}

.grid-left-description {
  text-align: center;
  margin-top: 5px;
  width: 100%;
}

.grid-right {
  margin-left: 20px;
  margin-top: 20px;
}

footer {
  background-color: white;
  margin-top: 20px;
  color: black;
  text-align: center;
  padding: 5px;
}

#inv-display {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}
  
#inv-display li {
  width: calc(50% - 20px);
  margin: 10px;
  text-align: center;
  border: 2px solid gray;
  border-radius: 10px;
}

#inv-display img {
  max-width: 85%;
  border-radius: 10px;
  margin-top: 2px;
  /*flex: 8;*/
}

#inv-display hr {
  border: none; 
  height: 2px; 
  background-color: black; 
  margin: 2px 0;
}

.namePrice {
  /*flex: 2;*/
  text-align: center;
  color: black;
}

.namePrice a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.namePrice h2 {
  font-size: 12px;
}

.namePrice span {
  font-size: 12px;
}

.notice {
  font-weight: bold;
  color: red;
  margin-bottom: 30px;
}
.notice li {
  font-size: 18px;
  margin-bottom: 5px;
}

.success {
  color: white;
  background-color: green;
}

.inv-card {
  display: grid;
  grid-template-columns: 1fr; 
  grid-gap: 10px; 
  border: 2px solid gray;
  border-radius: 10px;
  overflow: hidden;
 /* width: 600px;*/
  align-items: center;
  /*justify-content: center;*/
  margin-bottom: 10px;
}

.inv-image img {
  width: 100%;
  height: auto;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.inv-desc {
  padding: 10px;
}

.inv-desc h2 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 20px;
}

.inv-desc p {
  margin: 0;
  margin-bottom: 30px;
}

.inv-desc p:last-child {
  margin-bottom: 10px;
}

.copyright {
  color: black;
}

.error {
  padding: 5px;
}

.error img {
  width: 50%;
}

.error h2 {
  font-size: 14px;
  text-align: left;
}

.login{
  display: flex;
  justify-content: center; 
  align-items: center;
}
.login form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70%;
}

.login label {
  display: block;
  margin-bottom: 1px;
  margin-top: 10px;
}

.login input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.login button {
  background-color: rgb(34, 116, 204);
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 16px;
}

.login button:hover {
  background-color: rgb(55, 127, 204);
}

.login span {
  font-size: 13px;
  font-style: italic;
  color: black;
}

.login select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.login textarea {
  width: 100%;
  font-size: 16px;
  /*border: 1px solid #ccc;*/
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.login h2 {
  text-align: left;
}

.toggle-password-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
}

input:required:invalid, input:focus:invalid {
  border: 2px solid red;
 }

input:required:valid {
  border: 2px solid green;
}

.toggle-password-icon:hover {
  color: #333; 
}

.mgmt {
  margin-left: 40px;
}

.login textarea:required:invalid,
.login textarea:focus:invalid {
  border: 2px solid red;
}

/* Green border for valid (non-empty) textarea */
.login textarea:required:valid {
  border: 2px solid green;
}

.mgmt {
  text-align: left;
  margin-left: 0px;
}
.mgmt ul li {
  margin-bottom: 5px;
  margin-left: 30px;
}
.mgmt select {
  width: 30%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.mgmt h2 {
  font-size: 18px;
  text-align: left;
  margin-top: 20px;
}

.mgmt p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#inventoryDisplay {
  margin-top: 20px;
  border-collapse: collapse;
}

/* Style for table headers */
#inventoryDisplay th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
}

/* Style for table cells */
#inventoryDisplay td {
  border: 1px solid #ddd;
  padding: 10px;
}

/* Style for alternating rows */
#inventoryDisplay tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Style for links in the table cells */
#inventoryDisplay a {
  color: #007bff;
  text-decoration: none;
}

#inventoryDisplay a:hover {
  text-decoration: underline;
}

.toggle-password-icon {
  width: 20px; 
  height: 20px;
}

.review-container {
  justify-content: center;
  align-items: center;
}

.review-form {
  max-width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

review.form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.review-form select,
.review-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.review-form input[type="submit"] {
    padding: 10px;
    background-color: rgb(34, 116, 204);;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.review-form input[type="submit"]:hover {
    background-color: rgb(55, 127, 204);
}

.review-list {
  list-style-type: none;
  padding: 0;
}

.review-list li {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
}

.review-list p {
  margin: 8px 0;
  font-size: 16px;
}

  @media (min-width: 769px) {
    
    body {
      background-image: url('../images/site/checkerboard.jpg');
      background-size: 500px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 160px;
      padding-right: 160px;
    }

    h1 {
      font-size: 24px;
      margin-top: 15px; 
      margin-left: 0px;
      margin-bottom: 15px;
    }
    
    h2 {
      font-size: 22px;
      margin-bottom: 5px;
      text-align: center;
      margin-top: 5px;
    }

    ul li {
      font-size: 18px; 
      margin-bottom: 25px;
    }

    .nav-list a {
      font-size: 18px;
    }

    header {
      padding: 2px;
    }

    #top-header .siteName a {
      font-size: 32px; 
    }

    #top-header #tools a {
      font-size: 16px; 
    }

    #top-header .siteName img {
      width: 60px;
    }

    img {
      width: 95%;
    }

    .text-overlay {
      top: 40%; 
      left: 35%; 
      padding: 10px; 
      font-size: 20px; 
    }

    .title {
      font-size: 24px; 
    }

    .text-overlay p { 
      margin-bottom: 5px; 
    }

    .wrapper {
      padding: 40px;
      border: 5px solid #079ACB;
      border-radius: 20px;
    }

    .button-image {
      width: 145px; 
      height: 45px;
    }

    .grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 20px;
    }

    .grid-container {
      color: black;
      height: auto;
    }

    .grid-image {
      grid-column: 1 / 3;
      display: block;
      margin: 0 auto;
    }

    .grid-down {
      gap: 10px;
      justify-content: center;
    }

    .grid-left-image {
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: #079ACB;
      width: auto;
    }

    .grid-container:nth-child(1) {
      order: 2; 
    }

    .grid-container:nth-child(2) {
      order: 1; 
    }

    footer {
      background-color: #333;
      color: white;
      padding: 15px;
    }

    .namePrice a {
      font-size: 16px;
    }

    .namePrice h2 {
      font-size: 16px;
      text-align: center;
    }
    
    .namePrice span {
      font-size: 14px;
    }

    #inv-display li {
      width: calc(33.33% - 20px);
    }

    .inv-card {
      grid-template-columns: 1fr 1fr;
    }

    .copyright {
      color: white;
    }

    .error {
      padding: 10px;
    }
    
    .error img {
      margin-top: 20px;
      width: 75%;
    }
    
    .error h2 {
      font-size: 20px;
      text-align: left;
    }
  }